<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation=
 "http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

<tx:annotation-driven transaction-manager="transactionManager"/>
 
 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
 	   destroy-method="close">
 	   <property name="driverClass"
 	   				value="oracle.jdbc.driver.OracleDriver"/>
 	   <property name="jdbcUrl"
 	   				value="jdbc:oracle:thin:@localhost:1521:orcl"/>
 	   <property name="user" value="C##kang"/>
 	   <property name="password" value="1234"/>
 	   <property name="maxPoolSize" value="100"/>
 	   <property name="maxIdleTime" value="600"/>
 	   <property name="idleConnectionTestPeriod" value="300"/>
	</bean>
	<bean id="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="memberDao" class="spring.MemberDao">
			<constructor-arg ref="dataSource"/>
	</bean>
	<bean id="memberRegSvc" class="spring.MemberRegisterService">
			<constructor-arg ref="memberDao"/>
	</bean>
	<bean id="changePwdSvc" class="spring.ChangePasswordService">
			<constructor-arg ref="memberDao"/>
	</bean>
	<bean id="authService" class="spring.AuthService">
		<property name="memberDao" ref="memberDao"/>
	</bean>
</beans>
