<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation=
 " http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="boardController" class="board.controller.BoardController">
			<property name="boardService" ref="boardServiceImpl"/>	
	</bean>

	<bean id="memberController" class="member.controller.MemberController">
			<property name="memberService" ref="memberServiceImpl"/>	
	</bean>
	
	<bean id="friendController" class="friend.controller.FriendController">
			<property name="friendService" ref="friendServiceImpl"/>	
	</bean>
	<bean id="boardLikeController" class="board.controller.BoardLikeController">
			<property name="boardLikeService" ref="boardLikeServiceImpl"/>	
	</bean>
	<bean id="replyController" class="board.controller.ReplyController">
			<property name="replyService" ref="replyServiceImpl"/>	
	</bean>

</beans>
