<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation=
 "http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

<tx:annotation-driven transaction-manager="transactionManager"/>
 

	<bean id="memberDao" class="member.dao.MemberDaoMybatis">
		<constructor-arg ref="sqlSessionTemplate"></constructor-arg>
	</bean>
	<bean id="memberService" class="member.service.MemberServiceImpl">
				<property name="memberDao" ref="memberDao" />
		</bean>
	<bean id="memberServiceImpl" class="member.service.MemberServiceImpl">
		<property name="memberDao" ref="memberDao"/>
	</bean>
	<bean id="loginRequest" class="member.request.LoginRequest"></bean>
	</beans>